body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.bg-image {
    background-image: url('../images/bg-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fresh-table {
    color: white;
}

.fresh-table tr:nth-of-type(even){
    background-color: rgba(255, 255, 255, 0.15);
}

#right-card {
    max-height: 700px;
    overflow: scroll;
}


